.aboutuslink-container {
    padding: 11.3125rem 2rem 11.25rem 2rem;
    background-image: url('@/assets/images/aboutuslinkbgmobile.png');
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        @include header();
        word-spacing: -0.106875rem;
        color: white;
        margin-bottom: 1.5rem;
    }

    a {
        @include btn1();
        max-width: 11.6875rem;
        max-height: 4.5rem;
        text-decoration: none;

        p {
            margin: 0;
            white-space: nowrap;
        }
    }
}

@include respond-to(md) {
    .aboutuslink-container {
        padding: 10.4375rem 4.375rem 10.5rem 3.625rem;

        h2 {
            @include header2();
            margin-bottom: 2.5rem;
        }
    }
}

@include respond-to(xl) {
    .aboutuslink-container {
        padding: 10.4375rem 29.6875rem 10.5rem 11.875rem;
        background-image: url('@/assets/images/aboutuslinkbgdesktop.png');
    }
}