.contact-form {
    position: relative;
    padding: 4.5625rem 2rem 8.25rem 2rem;

    h2 {
        @include header2();
        width: 50%;
        margin-bottom: 3.5625rem;
    }

    .form-fields {
        margin-bottom: 2.6875rem;

        input, textarea {
            padding: 0 0 1.3125rem 2.1875rem;
            font-size: 1.25rem;
            font-weight: 700;
            word-spacing: -0.03125rem;
            font-family: "League Spartan", sans-serif;
            color: $active;
            width: 100%;
            border: none;
            border-bottom: 0.0625rem solid $black;
            outline: none;

            &::placeholder {
                font-size: 1.25rem;
                font-weight: 700;
                word-spacing: -0.03125rem;
                font-family: "League Spartan", sans-serif;
                color: $active;
            }

            &:focus {
                color: $black;
                border-bottom: 0.1875rem solid $black;

                &::placeholder {
                    color: $black;
                }
            }

            &.error {
                border-bottom-color: red;
                color: red;

                &::placeholder {
                    color: red;
                }
            }
        }

        textarea {
            resize: none;
        }
    }

    .form-field {
        position: relative;
        margin-bottom: 2.6875rem;

        .error-message {
            position: absolute;
            top: 0;
            right: 16px;
            color: red;
            font-size: 12px;
            font-weight: 700;
            word-spacing: -0.28px;
            font-family: "League Spartan", sans-serif;
        }
    }

    .submit-button {
        position: absolute;
        bottom: 8.75rem;
        right: 2rem;
        transform: translate(0, 50%);
        @include btn1();
        padding: 0;
        margin: 0;
        height: 5rem;
        width: 5rem;

        img {
            height: 1.125rem;
            width: 1.5rem;
        }
    }
}

@include respond-to(md) {
    .contact-form {
        padding: 4.5625rem 0 8.25rem 0;

        h2 {
            width: 100%;
        }

        .submit-button {
            right: 0;
        }
    }
}

@include respond-to(xl) {
    .contact-form {
        display: flex;
        padding: 0 0 15rem 0;
        justify-content: space-between;

        h2 {
            width: 31.53%;
            margin: 0;
        }

        .form-fields {
            width: 65.77%;
            margin: 0;

            .error-message {
                font-size: 18px;
            }
        }

        .submit-button {
            transform: translate(0, -85%);
        }
    }
}