.featured {
    padding: 4.5625rem 2rem 8.25rem 2rem;

    .featured-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h2 {
            @include header();
            margin-bottom: 2.6875rem;
        }
        
        .md-btn {
            display: none;
            position: absolute;
        }
    }

    .sm-btn {
        @include btn1();
        width: 100%;
        text-decoration: none;
        
        p {
            margin: 0;
        }
    }
}

@include respond-to(md) {
    .featured {
        padding: 12.5rem 0 12.5rem 0;

        .featured-header {
            margin-bottom: 5.3125rem;

            h2 {
                margin-bottom: 0;
                @include header2();
            }

            .md-btn {
                display: flex;
                position: relative;
                @include btn1();
                
                p {
                    margin: 0;
                }
            }
        }

        .sm-btn {
            display: none;
            position: absolute;
        }
    }
}

@include respond-to(xl) {
    .featured {
        .featured-header {
            margin-bottom: 4rem;
        }

        .project-container {
            display: flex;
            justify-content: space-between;
            gap: 1.875rem;
        }
    }
}