footer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5.8125rem 3.8125rem 3rem 3.875rem;
    background-color: $grey;

    .box {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -25%;
        left: 50%;
        transform: translate(-50%, 25%);
        height: 7.5rem;
        width: 7.5rem;
        background-color: $black;

        img {
            height: 1.5rem;
            width: 3.625rem;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 0;
        margin-bottom: 1.9375rem;
        padding: 0;

        a {
            text-decoration: none;
            @include lg-body();
            color: $grey2;
            font-weight: 700;

            &:hover {
                color: $black;
            }
        }
    }

    .button {
        @include btn1();
        text-decoration: none;
        white-space: nowrap;

        p {
            margin: 0;
        }
    }
}

@include respond-to(md) {
    footer {
        width: 79.69%;
        height: 7.5rem;
        padding: 3.0625rem 8.6875rem 2.875rem 10rem;
        flex-direction: row;

        .box {
            top: 0;
            left: 0;
            transform: translate(0, 0);
        }

        ul {
            flex-direction: row;
            gap: 3.8125rem;
            margin: 0;
            a {
                white-space: nowrap;
            }
        }

        .button { 
            position: absolute;
            top: 50%;
            right: -9.375rem;
            transform: translate(0, -50%);
        }
    }
}

@include respond-to(xl) {
    footer {
        width: 69.375rem;
        margin: 0 10.3125rem;
        height: 12.5rem;
        justify-content: center;

        .box {
            width: 12.5rem;
            height: 12.5rem;
        }

        .button {
            right: -7.875rem;
        }
    }
}