.hero {
    padding: 7.25rem 2rem 6.875rem 2rem;
    background-image: url('@/assets/images/herobgmobile.png');
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        @include header();
        color: white;
        margin-bottom: 1.3125rem;
    }

    p {
        @include body();
        color: white;
        margin-bottom: 5.1875rem;
    }

    a {
        @include btn1();
        display: flex;
        max-width: 15.75rem;
        max-height: 4.5rem;
        text-decoration: none;
        
        p {
            margin: 0;
        }
    }

    .slider {
        display: none;
        position: absolute;
    }
}

@include respond-to(md) {
    .hero {
        padding: 11.625rem 3.625rem 11.1875rem 3.625rem;
        background-image: url('@/assets/images/herobgtablet.png');

        h1 {
            margin-bottom: 1.625rem;
        }

        p {
            margin-bottom: 2.9375rem;
        }
    }
}

@include respond-to(xl) {
    .hero {
        position: relative;
        padding: 11.625rem 23.5rem 11.1875rem 11.875rem;
        background-image: url('@/assets/images/herobgdesktop.png');
        width: 69.375rem;
        height: 45rem;

        .slider {
            display: flex;
            bottom: -0.0625rem;
            left: -5rem;
            background-color: white;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 5rem;
                width: 5rem;
                background: white;
                color: $grey2;
                border: none;
                padding: 0;
            
                &:hover {
                    background-color: $grey;
                    color: $grey2;
                }

                span {
                    width: 1.0625rem;
                    height: 1.5625rem;
                }
            }

            #selected {
                background-color: $black;
                color: white;
            }
        }
    }
}