.person {
    margin-bottom: 4.9375rem;

    &:last-child {
        margin-bottom: 0;
    }

    div {
        padding-top: 0.9375rem;

        h2 {
            @include sm-header();
        }

        p {
            @include body();
            opacity: 75%;
        }
    }
}

@include respond-to(md) {
    .person {
        margin-bottom: 6.4375rem;
    }
}

@include respond-to(xl) {
    .person {
        margin-bottom: 3.9375rem;
    }
}