.section2 {
    padding: 0 2rem 7rem 2rem;

    .design- {
        width: 4.0625rem;
        height: 0.0625rem;
        background-color: $active;
        margin-bottom: 4.3125rem;
    }

    h2 {
        @include header2();
        margin: 0;
        margin-bottom: 2.1875rem;
    }

    p {
        @include body();
        color: $hover;
        margin: 0;
    }
}

@include respond-to(md) {
    .section2 {
        padding: 12.625rem 0 12.9375rem 0;

        .design- {
            margin-bottom: 3.0625rem;
        }

        h2 {
            margin-bottom: 4.0625rem;
            width: 50%;
        }
    }
}