.section {
    padding: 4.5rem 2rem 7.0625rem 2rem;
    
    .design- {
        width: 4.0625rem;
        height: 0.0625rem;
        background-color: $active;
        margin-bottom: 4.3125rem;
    }

    .design-md {
        display: none;
        position: absolute;
    }

    h2 {
        @include header2();
        word-spacing: -0.106875rem;
        margin-bottom: 1.375rem;
    }

    p {
        @include body();
        color: $hover;
    }

    .img-container {
        img {
            display: none;
            position: relative;
        }
    }
}

@include respond-to(md) {
    .section {
        padding: 9.5rem 0 14.9375rem 0;

        .design- {
            display: none;
            position: absolute;
        }

        .design-md {
            display: flex;
            position: relative;
            margin-bottom: 1.4375rem;
            font-size: 7.5rem;
            word-spacing: -0.1875rem;
            color: $grey;
        }

        h2 {
            @include header2();
            width: 75%;
            margin-bottom: 3.5625rem;
        }
    }
}

@include respond-to(xl) {
    .section {
        position: relative;
        padding: 12.1875rem 0 13.1875rem 0;
        display: flex;
        flex-direction: row;
        min-width: 100%;

        .content {
            width: 68.47%;
            padding: 4.625rem 7.8125rem 0 11.8125rem;
            z-index: 50;

            h2 {
                width: 100%;
                margin-bottom: 3.5rem;
            }
        }

        .img-container {
            width: 31.53%;

            img {
                width: 21.875rem;
                height: 35.5rem;
                display: flex;
            }
        }

        .design-md {
            position: absolute;
            top: 13.75rem;
            margin-bottom: 0;
            font-size: 15.625rem;
            z-index: 40;
        }
    }
}