.subhero {
    position: relative;
    padding: 0 0 18.3125rem 0;

    div {
        position: absolute;
        background-color: white;
        top: 12.1875rem;
        padding: 4rem 0 0 2rem;
        margin-right: 2rem;

        h1 {
            @include header();
            margin: 0;
            margin-bottom: 1.3125rem;
        }

        p {
            @include body();
            color: $hover;
            margin: 0;
        }

        .hero- {
            display: none;
        }
    }
}

@include respond-to(md) {
    .subhero {
        padding: 0;
        width: 35.8125rem;
        height: 45rem;

        img {
            width: 35.8125rem;
            height: 45rem;
        }

        .sub-headermd {
            position: absolute;
            font-size: 7.5rem;
            line-height: 12.5rem;
            font-weight: 700;
            word-spacing: -0.1875rem;
            top: 28%;
            right: 0;
            color: $grey;
            margin: 0;
            z-index: 50;
        }

        div {
            top: auto;
            bottom: -0.125rem;
            left: 3.625rem;
            right: -0.0625rem;
            margin-right: 0;
            padding: 5.5rem 0 0 3.75rem;

            .hero- {
                position: relative;
                display: flex;
                left: 0;
                width: 4.0625rem;
                height: 0.0625rem;
                background-color: $active;
                padding: 0;
                margin-bottom: 4.5625rem;
            }

            h1 {
                @include header2();
                margin-bottom: 2.5625rem;
            }
        }
    }
}

@include respond-to(xl) {
    .subhero {
        width: 69.375rem;
        height: 45rem;

        img {
            width: 39.6875rem;
            height: 45rem;
        }

        .sub-headermd {
            font-size: 15.625rem;
            line-height: 12.5rem;
            word-spacing: -0.3125rem;
            top: 8.125rem;
        }

        div {
            top: 13.5625rem;
            left: 30.125rem;
            padding: 10rem 0 0 11.375rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .hero- {
                position: static;
                margin-bottom: 3.5625rem;
            }

            h1 {
                margin-bottom: 3.5625rem;
            }
        }
    }
}