@include respond-to(md) {
    .about {
        position: relative;
        padding: 0 6.125rem 0 6.0625rem;

        .tabletdesign {
            position: absolute;
            display: flex;
            top: -10.5rem;
            left: 3.03125rem;
            transform: translate(-50%, 0);
        }
    }
}