.portfoliopage {
    padding: 0 2rem 0 2rem;  
}

@include respond-to(md) {
    .portfoliopage {
        position: relative;
        padding: 0 6.125rem 0 6.0625rem;
    }
    .tabletdesign {
        position: absolute;
        display: flex;
        top: -10.5rem;
        left: 2.65625rem;
        transform: translate(-50%, 0);
    }
}

@include respond-to(xl) {
    .portfoliopage {
        position: relative;
        padding: 0 10.3125rem;
    }
    .tabletdesign {
        position: absolute;
        display: flex;
        top: -10.5rem;
        left: 5.15625rem;
        transform: translate(-75%, 0);
    }
}