.portfolio {
    padding: 9.5625rem 4.75rem 1.4375rem 1.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.5rem;

    h2 {
        @include sm-header();
        white-space: nowrap;
        color: white;
        margin: 0;
    }

    p {
        @include lg-body();
        color: white;
        opacity: 75%;
        margin: 0;
    }
}